extends layout

block content

  .container-narrow
    .row-fluid
      .span12
        img(src="#{user.picture}", width=30)
        |  Welcome #{user.nickname}!
    .masthead
      ul.nav.nav-pills.pull-right
        li
          a#refresh Refresh
        li
          a(href='/logout') Logout
      h3.muted Apps and rules
    hr
    .row-fluid.marketing
      #loader
        i.fa.fa-spinner.fa-spin
        |  Loading...
      #error.alert.alert-danger.hidden
      table#table.table.table-hover.table-condensed.hidden
        thead
          tr
            th Application
            th Rules
        tbody
    hr
    .footer
      p © AwesomeCustomer 2016
    script(src="/javascript/apps.js")
